<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.complainsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Complainsystem">
        <activity android:name=".ComplaintHistory"></activity>
        <activity android:name=".ReplyComplaints" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".EditProfile" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".EditComplaint" />
        <activity android:name=".UserComplaints" />
        <activity android:name=".DatabaseHelper" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".AdminComplaintHistory" />
        <activity android:name=".activity_admin_login" />
        <activity android:name=".StaffRegisterActivity" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>